
<h1 class="text-primary">E-mail de Confirmação da conta enviado</h1>
<hr />

<p>
    Uma mensangem contendo o link para confirmação da conta foi enviado
    para seu e-mail. Acesse sua caixa de mensagens e clique no link recebido
    confirmar sua conta.
</p>

<p>
    Acesse sua caixa de mensagens e clique no link para dar continuidade ao processo
    de criação de conta.
    Se quiser voltar à sua página principal, clique no botão abaixo.
</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">
    Voltar à pagina principal
</a>