@model PedidoCompletoViewModel

<h3>Você esta a um passo de completar o seu pedido</h3>
<hr />

<form asp-action="Checkout" method="post" class="form-horizontal" role="form">

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Pedido.Nome" class="control-label">Quem vai receber?</label>
            <input asp-for="Pedido.Nome" class="form-control" />
            <span asp-validation-for="Pedido.Nome" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Pedido.Sobrenome" class="control-label"></label>
            <input asp-for="Pedido.Sobrenome" class="form-control" />
            <span asp-validation-for="Pedido.Sobrenome" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Pedido.Endereco1" class="control-label"></label>
            <input asp-for="Pedido.Endereco1" class="form-control" />
            <span asp-validation-for="Pedido.Endereco1" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Pedido.Endereco2" class="control-label">N°/Complemento</label>
            <input asp-for="Pedido.Endereco2" class="form-control" />
            <span asp-validation-for="Pedido.Endereco2" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label asp-for="Pedido.Cep" class="control-label"></label>
            <input asp-for="Pedido.Cep" class="form-control" />
            <span asp-validation-for="Pedido.Cep" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Pedido.Cidade" class="control-label"></label>
            <input asp-for="Pedido.Cidade" class="form-control" value="São Paulo" />
            <span asp-validation-for="Pedido.Cidade" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Pedido.Estado" class="control-label"></label>
            <input asp-for="Pedido.Estado" class="form-control" value="São Paulo" />
            <span asp-validation-for="Pedido.Estado" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Cupom" class="control-label">Cupom de desconto</label>
            <input asp-for="Cupom" class="form-control" value="" />
            <span asp-validation-for="Cupom" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div >
            <div class="form-group col-md-3">
                <label asp-for="Pedido.ObservacaoPedido" class="control-label">Observações do pedido</label>
                <textarea asp-for="Pedido.ObservacaoPedido" class="form-control" maxlenght="200">Digite as observações do pedido</textarea>
                <span asp-validation-for="Pedido.ObservacaoPedido" class="text-danger"></span>
            </div>
        </div>
    </div>

    <br />
    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Metodo de pagamento</label>
            </div>
            <select asp-for="Pedido.OpcaoPagamento" class="custom-select" id="inputGroupSelect01">
                <option value="Crédito" selected>Crédito</option>
                <option value="Débito">Débito</option>
                <option value="Dinheiro">Dinheiro</option>
            </select>
            <span asp-validation-for="Pedido.OpcaoPagamento" class="text-danger"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="form-group col-md-3">
            <input class="btn btn-success" type="submit" value="Concluir Pedido" />
        </div>
        &nbsp;
        <div class="form-group col-md-3">
            <a class="btn btn-outline-info" asp-controller="CarrinhoCompra"
               asp-action="Index">Retornar ao Carrinho</a>
        </div>
    </div>
</form>