@model ProdutoListViewModel


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<br />

@if (@TempData["Alerta"] != null)
{
    <h4 style="color:red">@TempData["Alerta"]</h4>
}

<br/>

<div class="container">
    <div class="row">
        @foreach (var produto in Model.Produtos)
        {

            <partial name="_ProdutosResumo" for="@produto" />


        }
    </div>
</div>