
<h1 class="text-primary">E-mail de suporte enviado</h1>
<hr />

<p>
    Sua solicitação de suporte foi encaminhado a equipe responsavel.
</p>

<p>
    Por favor verifique seu e-mail com as seguintes atualizações e tratativas.
</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">
    Voltar à pagina principal
</a>